{% extends 'poster/base_poster.html' %}
{% load static %}
{% block title %}
    {{posters.name}}
{% endblock %}

{% block content %}
<header>
    <dir class="box offset-md-2">
        <div class="card" style="width: 53.45rem; height: 50rem;">
        <iframe width="854" height="480" src={{posters.link}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
            <h5 class="card-title">{{posters.name}}</h5>
            <p class="card-text">{{posters.description}}</p>
            <p class="card-text">Главный актер: {{posters.main_actor}}</p>
            <p class="card-text">Год: {{posters.year}}</p>
            <p class="card-text">Время сеанса: {{posters.date}}</p>
            <a href="../" class="btn btn-primary">Вернуться назад</a>
            </div>
        </div>
    </dir>
</header>
{% endblock %}